@model DemoProject.Model.ActivityLog
    <div class="form_element">
        <div class="page-loader k-loading-image" style="display:none;"></div>
        <div class="form_input_box">
            <div class="form-group">
                <label for="">Date :</label>
                <div class="input_box">
                    <label>@Model.LogDate </label>
                </div>
            </div>
        </div>
        <div class="form_input_box">
            <div class="form-group">
                <label for="">Page Url :</label>
                <div class="input_box">
                    <label>@Model.PageUrl </label>
                </div>
            </div>
        </div>
        <div class="form_input_box">
            <div class="form-group">
                <label for="">IP Address :</label>
                <div class="input_box">
                    <label>@Model.IPAddress </label>
                </div>
            </div>
        </div>
        <div class="form_input_box">
            <div class="form-group">
                <label for="">Full Message :</label>
                <div class="input_box">
                    <label>@Model.FullMessage </label>
                </div>
            </div>
        </div>
        <div class="form_input_box">
            <div class="form-group">
                <label for="">Browser Name :</label>
                <div class="input_box">
                    <label>@Model.BrowserName </label>
                </div>
            </div>
        </div>
        <div class="form_input_box">
            <div class="form-group">
                <label for="">User :</label>
                <div class="input_box">
                    <label>@Model.UserName </label>
                </div>
            </div>
        </div>
        <div class="form_input_box">
            <div class="form-group">
                <label for="">Controller Name :</label>
                <div class="input_box">
                    <label>@Model.ControllerName </label>
                </div>
            </div>
        </div>
        <div class="form_input_box">
            <div class="form-group">
                <label for="">Method Name :</label>
                <div class="input_box">
                    <label>@Model.ActionName </label>
                </div>
            </div>
        </div>
    </div>


