@using Kendo.Mvc.UI
@using DemoProject.Model
@using DemoProject.Controllers
@using DemoProject.Helper
@using DemoProject.Service
@model IEnumerable<DemoProject.Model.PaperSetGridModel>
@{
    string formCode = AuthorizeFormAccess.FormAccessCode.PAPERSET.ToString();
    var formName = FormUtility.GetFormName(formCode);
    string parentFormname = FormUtility.GetParentFormName(formCode);
    ViewBag.Title = formName;
    BaseController _base = new BaseController();
    bool AllowedEdit = _base.CheckPermission(formCode, AccessPermission.IsEdit);
    bool AllowedAdd = _base.CheckPermission(formCode, AccessPermission.IsAdd);
    bool AllowedDelete = _base.CheckPermission(formCode, AccessPermission.IsDelete);
}
@Html.Hidden("hdnFormAccessCode", formCode)

<style>
    .close-modal {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 30px;
        font-weight: bold;
        color: black;
        cursor: pointer;
    }

    .modal-fullscreen {
        max-width: 75%;
        margin: 150px;
    }
</style>

<div class="coman_content">
    <!-- Title Section -->
    <div class="subheader">
        <div class="left_title">
            <h2 class="mr-3">Paper Sets</h2>
            <div class="left breadcrumb_list">
                <ul>
                    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a></li>
                    <li><a href="javascript:void(0)">@parentFormname</a></li>
                    <li>@formName</li>
                </ul>
            </div>
        </div>
        @if (AllowedAdd)
        {
            <div class="subheader_right">
                <a class="button button_primary button_rounded" href="@Url.Action("Create", "PaperSet")">Add New PaperSet</a>
            </div>
        }
    </div>
    <!-- End Title Section -->

    <div class="common_white_box listingpage">
        <div class="page-loader k-loading-image"></div>
        @(Html.Kendo().Grid<DemoProject.Model.PaperSetGridModel>()
        .AutoBind(true)
        .Name("gridPaperSet")
        .Columns(columns =>
        {

            columns.Bound(c => c.PaperSetName).Width("10%").Title("Paper Set Name");
            columns.Bound(c => c.TotalMarks).Width("7%").Title("Total Marks");
            columns.Bound(c => c.DurationInMinutes).Width("7%").Title("Duration In Minutes");
            columns.Bound(c => c.Status).Width("7%").Title("Status")
                            .ClientTemplate("#if(BadgeCode!=null && BadgeCode!=''){#" + "<span class='status' style='background:#=BadgeCode#'>#=Status#</span>#} else {# #=Status# #}#");

            columns.Bound(c => c.IsActive).Width("5%")
                .HeaderHtmlAttributes(new { @class = "center_text" })
                .HtmlAttributes(new { @class = "kendogrid_Action center-text" })
                .ClientTemplate("# if(IsActive == true) {#<i class='fa fa-check'></i># } else { #<i class='fa fa-close'></i># } #")
                .Title("Active")
                .Filterable(filterable => filterable.Messages(m => m.IsFalse("No").IsTrue("Yes")));

            columns.Bound(c => c.Id)
.Title("View")
.Width("2%")
.ClientTemplate("<a href='javascript:void(0);' onclick='viewPaperSet(#=Id#)' title='View'><i class='fa fa-eye'></i></a>")
.Filterable(false)
.Sortable(false);



            columns.Bound(c => c.Id).HeaderHtmlAttributes(new { @class = "center_text" })
                .HtmlAttributes(new { @class = "kendogrid_Action center_text" })
                .ClientTemplate("<div class='k_action_table'>" +
                    (AllowedEdit ? "<a title='Edit' href='" + Url.Action("Create", "PaperSet") + "/#=Id#'><i class='fa fa-edit'></i></a>" : "") +
                "</div>")
                .Filterable(false)
                .Title("Edit")
                .Width("5%")
                .Sortable(false);

            columns.Bound(c => c.Id)
    .Title("Link")
    .Width("3%")
    .ClientTemplate("<a href='javascript:void(0);' onclick='generateOrShowLink(#=Id#)' title='Generate Link'><i class='fa fa-link'></i></a>")
    .Filterable(false)
    .Sortable(false);

            //columns.Bound(c => c.Id).HeaderHtmlAttributes(new { @class = "center_text" })
            //    .HtmlAttributes(new { @class = "kendogrid_Action center_text" })
            //    .ClientTemplate("<div class='k_action_table'>" +
            //        (AllowedDelete ? "<a href='javascript:void(0)' data-id='#=Id#' class='delete-icon'><i class='fa fa-trash'></i></a>" : "") +
            //    "</div>")
            //    .Filterable(false)
            //    .Title("Action")
            //    .Width("5%")
            //    .Sortable(false);
        })
        .NoRecords("No record found")
        .Events(evt => evt
            .DataBinding("fnKendoGridCommonDataBinding")
            .DataBound("fnKendoGridDataBoundEvent")
        )
        .Sortable()
        .Filterable(filter => filter
            .Mode(GridFilterMode.Row)
            .Extra(false)
            .Operators(o => o.ForString(f => f.Clear().Contains("Contains").DoesNotContain("Does Not Contain").StartsWith("Starts With").EndsWith("Ends With").IsEqualTo("Equal To").IsNotEqualTo("Not Equal To")))
            .Operators(o => o.ForNumber(g => g.Clear().IsEqualTo("EqualTo").IsNotEqualTo("Not Equal To").IsGreaterThan("Greater Than").IsGreaterThanOrEqualTo("Greater Than Or Equal To").IsLessThan("Less Than").IsLessThanOrEqualTo("Less Than Or Equal To")))
        )
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(new[] { 10, 20, 50, 100, 200 })
            .ButtonCount(5)
        )
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetGridData", "PaperSet"))
            .PageSize(10)
        ))
    </div>
</div>

<!-- Delete Confirmation Modal -->
@*<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <b>Are you sure you want to delete this question?</b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Yes, Delete</button>
                </div>
            </div>
        </div>
    </div>*@

@*<script>
        $(document).ready(function () {
            var grid = $('#gridQuestion').data('kendoGrid');
            var deleteId = null;

            // Open delete confirmation modal
            $(document).on("click", ".delete-icon", function () {
                deleteId = $(this).data("id");
                $("#confirmDeleteModal").modal("show");
            });

            // Confirm delete action
            $("#confirmDeleteBtn").click(function () {
                if (deleteId) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Question")/' + deleteId,
                        type: "POST",
                        success: function () {
                            $("#confirmDeleteModal").modal("hide");
                            grid.dataSource.read(); // Refresh grid
                            grid.refresh();
                        },
                        error: function () {
                            alert("Error occurred while deleting.");
                        }
                    });
                }
            });

            // Refresh grid on page load
            grid.dataSource.read();
            grid.refresh();
        });
    </script>*@


<div class="modal fade" id="viewPaperSetModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-fullscreen" role="document">
        <!-- Fullscreen modal -->
        <div class="modal-content">
            <div class="modal-body">
                <!-- Question details will be loaded here dynamically via AJAX -->
            </div>
        </div>
    </div>
</div>

<script>
    function viewPaperSet(id) {
    $.ajax({
        url: '@Url.Action("ViewPaperSet", "PaperSet")',
        type: 'GET',
        data: { id: id },
        success: function (response) {
            // Assuming response contains HTML content for modal
            $("#viewPaperSetModal .modal-body").html(response);
            $("#viewPaperSetModal").modal("show");
        },
        error: function () {
            alert("Error loading paper set details.");
        }
    });
}

</script>


<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Paper Set Link</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="text" id="generatedLink" class="form-control" readonly onclick="this.select();">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="copyLink()">Copy Link</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
function generateOrShowLink(paperSetId) {
    $.ajax({
        url: '@Url.Action("GenerateOrGetLink", "PaperSet")',
        type: 'POST',
        data: { paperSetId: paperSetId },
        success: function(response) {
            if (response.success) {
                $("#generatedLink").val(response.link);
                $("#linkModal").modal("show");
            } else {
                alert("Failed to generate link.");
            }
        },
        error: function() {
            alert("Error occurred while generating the link.");
        }
    });
}

    function copyLink() {
        var linkText = document.getElementById("generatedLink");
        linkText.select();
        linkText.setSelectionRange(0, 99999); // For mobile devices

        try {
            document.execCommand("copy"); // Copy text to clipboard
            //alert("Link copied to clipboard!");
        } catch (err) {
            alert("Failed to copy the link. Please copy it manually.");
        }
    }
</script>
