
@{
    ViewBag.Title = "Index";
}

@using Kendo.Mvc.UI
@using DemoProject.Model
@using DemoProject.Controllers
@using DemoProject.Helper
@using DemoProject.Service
@{
    string formCode = AuthorizeFormAccess.FormAccessCode.USEREXAMRECORD.ToString();
    var formName = FormUtility.GetFormName(formCode);
    string parentFormname = FormUtility.GetParentFormName(formCode);
    //ViewBag.Title = formName;
    //BaseController _base = new BaseController();
    //bool AllowedEdit = _base.CheckPermission(formCode, AccessPermission.IsEdit);
    //bool AllowedAdd = _base.CheckPermission(formCode, AccessPermission.IsAdd);
    //bool AllowedDelete = _base.CheckPermission(formCode, AccessPermission.IsDelete);

}
@Html.Hidden("hdnFormAccessCode", formCode)
<div class="coman_content">
    <div class="subheader">
        <div class="left_title">
            <h2>@ViewBag.Title</h2>
            <div class="left breadcrumb_list">
                <ul>
                    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a></li>
                    <li><a href="javascript:void(0)">@parentFormname</a></li>
                    <li>@formName</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="common_white_box listingpage">
        <div class="page-loader k-loading-image"></div>
        @(Html.Kendo().Grid<DemoProject.Model.UserExamRecordGridModel>()
          .Name("gridQuestionTypes")
          .AutoBind(false)
          .Columns(columns =>
          {

              columns.Bound(c => c.PaperSetName).Title("Paper Set Name");
              columns.Bound(c => c.UserEmail).Title("User Email");
              columns.Bound(c => c.ExamStatus).Title("Exam Status");
              columns.Bound(c => c.ExpiryDate).Title("Expiry Date");

              columns.Bound(c => c.Token).Title("Actions").Width("5%").ClientTemplate(
    "<a href='javascript:void(0);' onclick='copyLink(\"#= Token #\")' class='btn btn-link'>" +
    "<i class='fa fa-link'></i></a>"
);


          })
          .Events(evt => evt
              .DataBinding("fnKendoGridCommonDataBinding")
              .DataBound("fnKendoGridDataBoundEvent")
          )
          .NoRecords("No record found")
          .Sortable()
          .Pageable(pageable => pageable
              .Refresh(true)
              .PageSizes(new[] {10,20, 50, 100, 200 })
              .ButtonCount(5)
          )
           .Filterable(filter => filter
                .Mode(GridFilterMode.Row)
                .Extra(false)
                .Operators(o => o.ForString(f => f.Clear().Contains("Contains").DoesNotContain("Does Not Contain").StartsWith("Starts With").EndsWith("Ends With").IsEqualTo("Equal To").IsNotEqualTo("Not Equal To")))
                .Operators(o => o.ForNumber(g => g.Clear().IsEqualTo("EqualTo").IsNotEqualTo("Not Equal To").IsGreaterThan("Greater Than").IsGreaterThanOrEqualTo("Greater Than Or Equal To").IsLessThan("Less Than").IsLessThanOrEqualTo("Less Than Or Equal To")))
          )
          .DataSource(dataSource => dataSource
              .Ajax()
              .Read(read => read.Action("GetGridData", "UserExamRecord")).PageSize(10)
          ))
    </div>
</div>


<div class="modal fade" id="copyLinkModal" tabindex="-1" role="dialog" aria-labelledby="copyLinkModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="copyLinkModalLabel">Copy Link</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
            </div>
            <div class="modal-body">
                <input type="text" id="linkToCopy" class="form-control" readonly />
                <button class="btn btn-primary mt-2" onclick="copyToClipboard()">Copy Link</button>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#gridQuestionTypes').data('kendoGrid').dataSource.read();
        $('#gridQuestionTypes').data('kendoGrid').refresh();
    });


    function copyLink(token) {
        $.ajax({
            url: '/UserExamRecord/GenerateLinkByToken', 
            type: 'GET',
            data: { token: token },
            success: function (response) {
                $('#linkToCopy').val(response.link);
                $('#copyLinkModal').modal('show');
            }
        });
    }

    function copyToClipboard() {
        var copyText = document.getElementById("linkToCopy");

        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices
        document.execCommand("copy");

        alert("Link copied to clipboard!");
    }

</script>


